# https://circleci.com/blog/persisting-data-in-workflows-when-to-use-caching-artifacts-and-workspaces/

version: 2.1

orbs:
  browser-tools: circleci/browser-tools@1.4.3
  codecov: codecov/codecov@4.1.0

workflows:
  version: 2
  build-n-deploy:
    jobs:
      # The `build-branch` job will run only on the specified branches.
      - build-branch:
          filters:
            branches:
              only:
                - v2
      # The `deploy-branch` job will run only on the specified branches.
      - deploy-branch:
          requires:
            - build-branch
          filters:
            branches:
              only:
                - v2
      # The `build-pr` job will run on branches that have associated pull requests open.
      - build-pr:
          filters:
            branches:
              ignore:
                - gh-pages
                - v2
      # The `deploy-pr` job will run on branches that have associated pull requests open.
      - deploy-pr:
          requires:
            - build-pr
          filters:
            branches:
              ignore:
                - gh-pages
                - v2
      # The `build-tag` job will not run on all branches and will run only on the matched tags.
      - build-tag:
          filters:
            branches:
              ignore: /.*/
            tags:
              only:
                - /^@tonic-ui\/react@.*/
      # The `deploy-tag` job will not run on all branches and will run only on the matched tags.
      - deploy-tag:
          requires:
            - build-tag
          filters:
            branches:
              ignore: /.*/
            tags:
              only:
                - /^@tonic-ui\/react@.*/

# https://circleci.com/docs/2.0/executor-types/
jobs:
  build-branch:
    docker:
      - image: cimg/node:18.20-browsers
    steps:
      - checkout
      - browser-tools/install-browser-tools:
          # https://googlechromelabs.github.io/chrome-for-testing/
          chrome-version: 116.0.5845.96 # TODO: remove when chromedriver downloads are fixed
      - run:
          name: Setup environment
          command: |
            echo "export CI_BRANCH=${CIRCLE_BRANCH}" >> $BASH_ENV
            echo "export CI_BUILD_NUMBER=${CIRCLE_BUILD_NUM}" >> $BASH_ENV
            echo "export CI_COMMIT=${CIRCLE_SHA1}" >> $BASH_ENV
            echo "export CI_COMMIT_SHORT=${CIRCLE_SHA1:0:8}" >> $BASH_ENV
            echo "export CI_TAG=${CIRCLE_TAG}" >> $BASH_ENV
            echo "export MATOMO_URL=//matomo.xdr.trendmicro.com" >> $BASH_ENV
            echo "export MATOMO_CONTAINER_ID=N8rpl9LU" >> $BASH_ENV
            echo "export TONIC_UI_REACT_DOCS_VERSION=v2" >> $BASH_ENV
      - run:
          name: Check package version
          command: |
            git --version
            node --version
            java --version
            google-chrome --version
            npm --version
            yarn --version
      - run:
          name: Install packages
          command: |
            yarn up
            yarn install
      - run:
          name: Build & Test
          command: |
            echo "BASE_PATH=/tonic-ui/react/${TONIC_UI_REACT_DOCS_VERSION}" > packages/react-docs/.env.production
            yarn build
            yarn lint
            yarn test
      - codecov/upload:
          file: ./packages/changelog-github/coverage/lcov.info
          flags: changelog-github
      - codecov/upload:
          file: ./packages/codemod/coverage/lcov.info
          flags: codemod
      - codecov/upload:
          file: ./packages/react/coverage/lcov.info
          flags: react
      - codecov/upload:
          file: ./packages/react-base/coverage/lcov.info
          flags: react-base
      - codecov/upload:
          file: ./packages/react-hooks/coverage/lcov.info
          flags: react-hooks
      - codecov/upload:
          file: ./packages/react-icons/coverage/lcov.info
          flags: react-icons
      - codecov/upload:
          file: ./packages/styled-system/coverage/lcov.info
          flags: styled-system
      - codecov/upload:
          file: ./packages/theme/coverage/lcov.info
          flags: theme
      - codecov/upload:
          file: ./packages/utils/coverage/lcov.info
          flags: utils
      - run:
          name: Compress build artifacts
          command: |
            tar -zcvf ci.tar.gz --dereference --directory packages/react-docs/dist react
      - persist_to_workspace:
          # Must be an absolute path, or relative path from working_directory.
          # This is a directory on the container which is taken to be the root directory of the workspace.
          root: .
          paths:
            - ci.tar.gz

  build-pr:
    docker:
      - image: cimg/node:18.20-browsers
    steps:
      - checkout
      - browser-tools/install-browser-tools:
          # https://googlechromelabs.github.io/chrome-for-testing/
          chrome-version: 116.0.5845.96 # TODO: remove when chromedriver downloads are fixed
      - run:
          name: Setup environment
          command: |
            echo "export CI_BRANCH=${CIRCLE_BRANCH}" >> $BASH_ENV
            echo "export CI_BUILD_NUMBER=${CIRCLE_BUILD_NUM}" >> $BASH_ENV
            echo "export CI_COMMIT=${CIRCLE_SHA1}" >> $BASH_ENV
            echo "export CI_COMMIT_SHORT=${CIRCLE_SHA1:0:8}" >> $BASH_ENV
            echo "export CI_PULL_REQUEST_NUMBER=${CIRCLE_PULL_REQUEST##*/}" >> $BASH_ENV
            echo "export CI_TAG=${CIRCLE_TAG}" >> $BASH_ENV
            echo "export MATOMO_URL=//matomo.xdr.trendmicro.com" >> $BASH_ENV
            echo "export MATOMO_CONTAINER_ID=5ehpp7RV_staging_0f078a89d761f525ed18a6f5" >> $BASH_ENV
            echo "export TONIC_UI_REACT_DOCS_VERSION=pr-${CIRCLE_PULL_REQUEST##*/}" >> $BASH_ENV
      - run:
          name: Check package version
          command: |
            git --version
            node --version
            java --version
            google-chrome --version
            npm --version
            yarn --version
      - run:
          name: Install packages
          command: |
            yarn up
            yarn install
      - run:
          name: Build & Test
          command: |
            echo "BASE_PATH=/tonic-ui-demo/react/${TONIC_UI_REACT_DOCS_VERSION}" > packages/react-docs/.env.production
            yarn build
            yarn lint
            yarn test
      - codecov/upload:
          file: ./packages/changelog-github/coverage/lcov.info
          flags: changelog-github
      - codecov/upload:
          file: ./packages/codemod/coverage/lcov.info
          flags: codemod
      - codecov/upload:
          file: ./packages/react/coverage/lcov.info
          flags: react
      - codecov/upload:
          file: ./packages/react-base/coverage/lcov.info
          flags: react-base
      - codecov/upload:
          file: ./packages/react-hooks/coverage/lcov.info
          flags: react-hooks
      - codecov/upload:
          file: ./packages/react-icons/coverage/lcov.info
          flags: react-icons
      - codecov/upload:
          file: ./packages/styled-system/coverage/lcov.info
          flags: styled-system
      - codecov/upload:
          file: ./packages/theme/coverage/lcov.info
          flags: theme
      - codecov/upload:
          file: ./packages/utils/coverage/lcov.info
          flags: utils
      - run:
          name: Compress build artifacts
          command: |
            tar -zcvf ci.tar.gz --dereference --directory packages/react-docs/dist react
      - persist_to_workspace:
          # Must be an absolute path, or relative path from working_directory.
          # This is a directory on the container which is taken to be the root directory of the workspace.
          root: .
          paths:
            - ci.tar.gz
            - scripts

  build-tag:
    docker:
      - image: cimg/node:18.20-browsers
    steps:
      - checkout
      - browser-tools/install-browser-tools:
          # https://googlechromelabs.github.io/chrome-for-testing/
          chrome-version: 116.0.5845.96 # TODO: remove when chromedriver downloads are fixed
      - run:
          name: Setup environment
          command: |
            TONIC_UI_PACKAGES_REACT_VERSION=$(cat packages/react/package.json \
              | grep version \
              | head -1 \
              | awk -F: '{ print $2 }' \
              | sed 's/[",]//g' \
              | tr -d '[[:space:]]')
            echo "export CI_BRANCH=${CIRCLE_BRANCH}" >> $BASH_ENV
            echo "export CI_BUILD_NUMBER=${CIRCLE_BUILD_NUM}" >> $BASH_ENV
            echo "export CI_COMMIT=${CIRCLE_SHA1}" >> $BASH_ENV
            echo "export CI_COMMIT_SHORT=${CIRCLE_SHA1:0:8}" >> $BASH_ENV
            echo "export CI_TAG=${CIRCLE_TAG}" >> $BASH_ENV
            echo "export MATOMO_URL=//matomo.xdr.trendmicro.com" >> $BASH_ENV
            echo "export MATOMO_CONTAINER_ID=N8rpl9LU" >> $BASH_ENV
            echo "export TONIC_UI_REACT_DOCS_VERSION=${TONIC_UI_PACKAGES_REACT_VERSION}" >> $BASH_ENV
      - run:
          name: Check package version
          command: |
            git --version
            node --version
            java --version
            google-chrome --version
            npm --version
            yarn --version
      - run:
          name: Install packages
          command: |
            yarn up
            yarn install
      - run:
          name: Build & Test
          command: |
            echo "BASE_PATH=/tonic-ui/react/${TONIC_UI_REACT_DOCS_VERSION}" > packages/react-docs/.env.production
            yarn build
            yarn lint
            yarn test
      - codecov/upload:
          file: ./packages/changelog-github/coverage/lcov.info
          flags: changelog-github
      - codecov/upload:
          file: ./packages/codemod/coverage/lcov.info
          flags: codemod
      - codecov/upload:
          file: ./packages/react/coverage/lcov.info
          flags: react
      - codecov/upload:
          file: ./packages/react-base/coverage/lcov.info
          flags: react-base
      - codecov/upload:
          file: ./packages/react-hooks/coverage/lcov.info
          flags: react-hooks
      - codecov/upload:
          file: ./packages/react-icons/coverage/lcov.info
          flags: react-icons
      - codecov/upload:
          file: ./packages/styled-system/coverage/lcov.info
          flags: styled-system
      - codecov/upload:
          file: ./packages/theme/coverage/lcov.info
          flags: theme
      - codecov/upload:
          file: ./packages/utils/coverage/lcov.info
          flags: utils
      - run:
          name: Compress build artifacts
          command: |
            tar -zcvf ci.tar.gz --dereference --directory packages/react-docs/dist react
      - persist_to_workspace:
          # Must be an absolute path, or relative path from working_directory.
          # This is a directory on the container which is taken to be the root directory of the workspace.
          root: .
          paths:
            - ci.tar.gz

  deploy-branch:
    docker:
      - image: cimg/node:18.20
    steps:
      - run:
          name: Configuration
          command: |
            git config --global user.email "no-reply@github.com"
            git config --global user.name "ci-job"
            npm config set loglevel warn
      - checkout:
          path: tonic-ui
      - add_ssh_keys:
          fingerprints:
            - "92:e5:99:6a:e1:24:28:b6:fb:a4:33:9a:a1:b1:a7:c6"
      - attach_workspace:
          # Must be absolute path or relative path from working_directory
          at: workspace
      - run:
          name: Setup environment
          command: |
            echo "export CI_BRANCH=${CIRCLE_BRANCH}" >> $BASH_ENV
            echo "export CI_BUILD_NUMBER=${CIRCLE_BUILD_NUM}" >> $BASH_ENV
            echo "export CI_COMMIT=${CIRCLE_SHA1}" >> $BASH_ENV
            echo "export CI_COMMIT_SHORT=${CIRCLE_SHA1:0:8}" >> $BASH_ENV
            echo "export CI_TAG=${CIRCLE_TAG}" >> $BASH_ENV
            echo "export TONIC_UI_REACT_DOCS_VERSION=v2" >> $BASH_ENV
      - run:
          name: Extract build artifacts
          command: |
            mkdir -p dist
            tar -zxvf workspace/ci.tar.gz --directory dist
      - run:
          name: Deploy to gh-pages
          command: |
            cd tonic-ui
            git checkout gh-pages
            rm -rf "react/${TONIC_UI_REACT_DOCS_VERSION}"
            mkdir -p "react/${TONIC_UI_REACT_DOCS_VERSION}"
            cp -af ../dist/react/** "react/${TONIC_UI_REACT_DOCS_VERSION}/"
            git add "react/${TONIC_UI_REACT_DOCS_VERSION}"
            git commit -m "[CI] Deploy '${CI_COMMIT_SHORT}' to 'gh-pages'"
            git push origin gh-pages

  deploy-pr:
    docker:
      - image: cimg/node:18.20
    steps:
      - run:
          name: Configuration
          command: |
            git config --global user.email "no-reply@github.com"
            git config --global user.name "ci-job"
            npm config set loglevel warn
      - checkout:
          path: tonic-ui
      - add_ssh_keys:
          fingerprints:
            - "73:b4:70:76:97:74:c2:f5:c9:bf:71:83:8c:a6:da:a6"
      - attach_workspace:
          # Must be absolute path or relative path from working_directory
          at: workspace
      - run:
          name: Setup environment
          command: |
            echo "export CI_BRANCH=${CIRCLE_BRANCH}" >> $BASH_ENV
            echo "export CI_BUILD_NUMBER=${CIRCLE_BUILD_NUM}" >> $BASH_ENV
            echo "export CI_COMMIT=${CIRCLE_SHA1}" >> $BASH_ENV
            echo "export CI_COMMIT_SHORT=${CIRCLE_SHA1:0:8}" >> $BASH_ENV
            echo "export CI_PULL_REQUEST_NUMBER=${CIRCLE_PULL_REQUEST##*/}" >> $BASH_ENV
            echo "export CI_TAG=${CIRCLE_TAG}" >> $BASH_ENV
            echo "export TONIC_UI_DEMO_REPO=tonic-ui-demo" >> $BASH_ENV
            echo "export TONIC_UI_DEMO_REPO_URL=https://github.com/trendmicro-frontend/tonic-ui-demo.git" >> $BASH_ENV
            echo "export TONIC_UI_DEMO_URL=https://trendmicro-frontend.github.io/tonic-ui-demo" >> $BASH_ENV
            echo "export TONIC_UI_REACT_DOCS_VERSION=pr-${CIRCLE_PULL_REQUEST##*/}" >> $BASH_ENV
      - run:
          name: Extract build artifacts
          command: |
            mkdir -p dist
            tar -zxvf workspace/ci.tar.gz --directory dist
      - run:
          name: Deploy to gh-pages
          command: |
            git clone ${TONIC_UI_DEMO_REPO_URL} ${TONIC_UI_DEMO_REPO}
            cd ${TONIC_UI_DEMO_REPO}
            git checkout gh-pages
            rm -rf "react/${TONIC_UI_REACT_DOCS_VERSION}"
            mkdir -p "react/${TONIC_UI_REACT_DOCS_VERSION}"
            cp -af ../dist/react/** "react/${TONIC_UI_REACT_DOCS_VERSION}/"
            git add "react/${TONIC_UI_REACT_DOCS_VERSION}"
            git commit -m "Deploy '${TONIC_UI_REACT_DOCS_VERSION}' to '${TONIC_UI_DEMO_REPO_URL}'"
            GIT_LOG_LAST_COMMIT_DATE=`git log --pretty=%ci -n 1`
            git push -u ${TONIC_UI_DEMO_REPO_URL} gh-pages
            cd ..
            yarn add file:./workspace/scripts/github-issue-comment-cli
            npx github-issue-comment-cli --login-user trendmicro-frontend-bot --owner trendmicro-frontend --repo tonic-ui --issue-number ${CI_PULL_REQUEST_NUMBER} --comment "# Tonic UI Demo\n* ${GIT_LOG_LAST_COMMIT_DATE} The PR #${CI_PULL_REQUEST_NUMBER} (${CI_COMMIT}) has been deployed to ${TONIC_UI_DEMO_URL}/react/${TONIC_UI_REACT_DOCS_VERSION}/\n"

  deploy-tag:
    docker:
      - image: cimg/node:18.20
    steps:
      - run:
          name: Configuration
          command: |
            git config --global user.email "no-reply@github.com"
            git config --global user.name "ci-job"
            npm config set loglevel warn
      - checkout:
          path: tonic-ui
      - add_ssh_keys:
          fingerprints:
            - "92:e5:99:6a:e1:24:28:b6:fb:a4:33:9a:a1:b1:a7:c6"
      - attach_workspace:
          # Must be absolute path or relative path from working_directory
          at: workspace
      - run:
          name: Setup environment
          command: |
            TONIC_UI_PACKAGES_REACT_VERSION=$(cat tonic-ui/packages/react/package.json \
              | grep version \
              | head -1 \
              | awk -F: '{ print $2 }' \
              | sed 's/[",]//g' \
              | tr -d '[[:space:]]')
            echo "export CI_BRANCH=${CIRCLE_BRANCH}" >> $BASH_ENV
            echo "export CI_BUILD_NUMBER=${CIRCLE_BUILD_NUM}" >> $BASH_ENV
            echo "export CI_COMMIT=${CIRCLE_SHA1}" >> $BASH_ENV
            echo "export CI_COMMIT_SHORT=${CIRCLE_SHA1:0:8}" >> $BASH_ENV
            echo "export CI_TAG=${CIRCLE_TAG}" >> $BASH_ENV
            echo "export TONIC_UI_REACT_DOCS_VERSION=${TONIC_UI_PACKAGES_REACT_VERSION}" >> $BASH_ENV
      - run:
          name: Extract build artifacts
          command: |
            mkdir -p dist
            tar -zxvf workspace/ci.tar.gz --directory dist
      - run:
          name: Deploy to gh-pages
          command: |
            cd tonic-ui
            git checkout gh-pages
            rm -rf "react/${TONIC_UI_REACT_DOCS_VERSION}"
            mkdir -p "react/${TONIC_UI_REACT_DOCS_VERSION}"
            cp -af ../dist/react/** "react/${TONIC_UI_REACT_DOCS_VERSION}/"
            git add "react/${TONIC_UI_REACT_DOCS_VERSION}"
            git commit -m "[CI] Deploy '${TONIC_UI_REACT_DOCS_VERSION}' to 'gh-pages' (tag='${CI_TAG}')"
            git push origin gh-pages
